<ion-header>
    <ion-toolbar>
      <ion-title>
       Dashboard
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="box-wrap">
  <ion-item (click)="buttonClick()" size-sm>
    <ion-label>
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
      <span>Quiz</span>
      <h5>Your Record:(1/4)</h5>
    </ion-label>
    
  </ion-item>
</div>

<div class="box-wrap">
  <ion-item (click)="buttonClick()" >
    <ion-label>
        <i class="fa fa-check-square" aria-hidden="true"></i>
      <span>MCQS</span>
      <h5>Your Record:(3/4)</h5>
    </ion-label>
  </ion-item>
</div>
<div class="box-wrap">
    <ion-item (click)="buttonClick()" >

    <ion-label>
        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
        <span> Puzzles</span>
        <h5>Your Record:(4/4)</h5>
    </ion-label>
  </ion-item>
  </div>
  <div class="box-wrap">
      <ion-item (click)="buttonClick()" >

    <ion-label>
        <i class="fa fa-gift" aria-hidden="true"></i>
     <span>Rewards</span>
     <h5>Your Record:(4/4)</h5>
    </ion-label>
  </ion-item>
</div>


<div class="level-define">
    <h4>Total Progress of Level 1</h4>
    <ion-progress-bar  value="0.5"></ion-progress-bar>
</div>

<div class="task-info">
  <p>You are on Level 1 complete Daily task to Upgrade</p>
</div>

</ion-content>
