

<ion-content>
    <div class="login-container">
        <div class="top-image animated bounce delay-2s">
          <img src="../assets/imageyes.gif" alt="">
        </div>
  <div class = "list">
    <label class = "item item-input">
     
        <ion-item class="text-box">
            <ion-label>   <ion-icon name="phone-portrait"></ion-icon></ion-label>
            <ion-input  placeholder="Phone Number"></ion-input>
          </ion-item>
    </label>

    <ion-button class="sign-btn" expand="block" color="#75248b" shape="round">Submit </ion-button>
    <ion-item href="#" lines="none" detail="false" class="forgot-password">
      <ion-label>
        Resend OTP
      </ion-label>
    </ion-item>
 </div>
 </div>
</ion-content>
