// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



.top-image{background: url(assets/purple-bg2.png) no-repeat -15px -36px;
    width: 88%;
    height: 150px;
    background-size: 70%;
    max-width: 226px;
    top: -100px;
    transition-delay: 2s;
    transition-duration: 6s;

    img{
        width:62%;
        margin: -25px -16px 0px;
    }
}



.item-input{
    margin: 0px auto 14px;
    width: 90%;
    display: block;
.text-box {
    border-radius: 30px;
    border: 1px solid #ccc;
    ion-label{margin: 0px 5px 0px;}
    ion-icon{
        font-size:25px;
        color: #75248b;
    }
}
}

.list .sign-btn{
    margin: 14px auto 0px;
    width: 80%;
    font-size: 18px;
    background: rgba(111,26,132,1);
    background: -moz-linear-gradient(45deg, rgba(111,26,132,1) 0%, rgba(236,90,77,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(111,26,132,1)), color-stop(100%, rgba(236,90,77,1)));
    background: -webkit-linear-gradient(45deg, rgba(111,26,132,1) 0%, rgba(236,90,77,1) 100%);
    background: -o-linear-gradient(45deg, rgba(111,26,132,1) 0%, rgba(236,90,77,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(111,26,132,1) 0%, rgba(236,90,77,1) 100%);
    background: linear-gradient(45deg, rgba(111,26,132,1) 0%, rgba(236,90,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f1a84', endColorstr='#ec5a4d', GradientType=1 );
    border-radius: 30px;
    color: #fff;
    height: 50px;
}

.button-native{
    box-shadow: none;
}

.link-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 19px !important;
    color: #000;
    cursor: pointer;
}

.link-btn.active{color:#9c69aa;}
.links {
    display: block;
    margin: 0px auto;
    width: 80%;

    ion-item{
        display: inline-block;
       
    }
}

.forgot-password{
    width:82%; margin: 0px auto; text-align: right; text-decoration: underline;color:#d04b5a; font-size: 17px;

    ion-label{margin-top: 0px;}
}