<ion-header>
  <ion-toolbar>
    <ion-title>
      Bazaar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="half-box">
    <img src="assets/adv-2.jpg" alt="">
    <div class="bottom-text"><p>25% off at dfsdvv Amazon</p></div>
  </div>

  <div class="half-box">
      <img src="assets/adv-3.jpg" alt="">
      <div class="bottom-text"><p>25% off at dfsdvv Amazon</p></div>
    </div>

    <div class="full-box">
      <img src="assets/adv-1.jpg" alt="">
      <div class="bottom-text"><p>25% off at dfsdvv Amazon</p></div>
    </div>
</ion-content>
